#heading {
    color: red;
}

.restro-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border: 1px solid black;
}

.logo-img {
    width: 100px;
}
.nav-list {
    display: flex;
    list-style: none;
    padding: 0 20px;
}
.nav-list > li {
    padding: 5px;
}
.search {
    padding: 20px;
}
.restro-container {
    width: 250px;
    background: #f0f0f0;
    margin: 20px;
    padding: 10px;
}

.restro-container:hover {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 4px 8px 1px #000;
}
.restro-logo {
    width: 250px;
}

.restro-section {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
